.instruction-item {
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.instruction-item__icon {
    font-size: 20px;
}

.instruction-item__title {
    margin: 0;
    font-size: 16px;
}

.instruction-item__body {
    margin-bottom: 12px;
}

.instruction-item__access {
    font-size: 14px;
    line-height: 1.4;
}

.instruction-item__access > div + div {
    margin-top: 8px;
}
