@import "../../../styles/variables.css";

.org-layout{
  display:grid;
  grid-template-columns: 360px 1fr;
  min-height: calc(100dvh - var(--header-h) - var(--footer-h));
}

.org-left{
  padding:12px;
  border-right:1px solid var(--border);
  background:#fff;
  overflow:auto;
}

.org-canvas{
  overflow:auto;
  background: var(--bg);
}
