@import "../../../styles/variables.css";

.org-layout{
  display:grid;
  grid-template-columns: 360px 1fr;
  gap:0;
  height:100%;
}

.org-left{
  padding:12px;
  border-right:1px solid var(--border);
  background:#fff;
  overflow:auto;
}

.org-canvas{
  position:relative;
  overflow:auto;
  background: var(--bg);
}
